
<div id="wpcf7-f208-p14-o1" class="wpcf7">
  <form action="/wordpress_48782/contacts/#wpcf7-f208-p14-o1" method="post" novalidate="novalidate" class="wpcf7-form">
    <div style="display: none;">
      <input name="_wpcf7" value="208" type="hidden"/>
      <input name="_wpcf7_version" value="3.7.2" type="hidden"/>
      <input name="_wpcf7_locale" value="" type="hidden"/>
      <input name="_wpcf7_unit_tag" value="wpcf7-f208-p14-o1" type="hidden"/>
      <input name="_wpnonce" value="6235c90d86" type="hidden"/>
    </div>
    <div class="row">
      <div class="col-md-4 atk-form-field atk-form-row">{$name}</div>
      <div class="col-md-4 atk-form-field atk-form-row">{$email}</div>
      <div class="col-md-4 atk-form-field atk-form-row">{$phone}</div>
      <div class="col-md-12 atk-form-field atk-form-row wpcf7-textarea">{$message}</div>
    </div>
    <div class="submit-wrap">{$FormButtons}
    </div>
  </form>
</div>