#wpcf7-f208-p14-o1.wpcf7
	form.wpcf7-form(action='/wordpress_48782/contacts/#wpcf7-f208-p14-o1', method='post', novalidate='novalidate')
		div(style='display: none;')
			input(name='_wpcf7', value='208', type='hidden')
			input(name='_wpcf7_version', value='3.7.2', type='hidden')
			input(name='_wpcf7_locale', value='', type='hidden')
			input(name='_wpcf7_unit_tag', value='wpcf7-f208-p14-o1', type='hidden')
			input(name='_wpnonce', value='6235c90d86', type='hidden')
		.row
			.col-md-4.atk-form-field.atk-form-row
				{$name}
			.col-md-4.atk-form-field.atk-form-row
				{$email}
			.col-md-4.atk-form-field.atk-form-row
				{$phone}
			.col-md-12.atk-form-field.atk-form-row.wpcf7-textarea
					{$message}
		.submit-wrap
			{$FormButtons}
			//- input.btn.btn-primary(value='clear', type='reset')
			//- input.wpcf7-form-control.wpcf7-submit.btn.btn-primary(value='send', type='submit')
			//- img.ajax-loader(src='https://livedemo00.template-help.com/wordpress_48782/wp-content/plugins/contact-form-7/images/ajax-loader.gif', alt='Sending ...', style='visibility: hidden;')
			//- .ajax-loader